* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "arial";
}

a {
  text-decoration: none;
}

/*Header*/
.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #2c2c2c;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  color: #0084ff;
}

.logo span {
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 30px;
  cursor: poiter;
}

.nav-icon-container img:first-child {
  margin-right: 1rem;
}

nav ul li {
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.cart-button {
  cursor: pointer;
}

.menu-button {
  cursor: pointer;
  display: none;
}

.header-button-side {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.header-button-side-left {
  height: 100%;
  flex-basis: 50%;
}

.header-button-side-left h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}

.header-button-side-left p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-button-side-left button {
  background-color: #0084ff;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s;
}

.header-button-side-left button:hover {
  background-color: #004c94;
}

.header-button-side-right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button-side-right img {
  width: 115%;
}

/*Media Queries*/
@media (max-width: 800px) {
  .logo {
    font-size: 1.2rem;
  }
  .menu-button {
    display: block;
  }
  .header-button-side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }
  nav {
    position: absolute;
    background-color: #2c2c2c;
    width: 100%;
    top: 46px;
    display: none;
  }
  .show-menu nav {
    display: block;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }
}
/*Header*/
section {
  padding: 2rem;
}

.title-cart {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 36px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}
.cart-table .table-head-item {
  text-align: start;
  border-bottom: 1px solid #000000;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.cart-table .second-col, .cart-table .third-col {
  width: 26%;
}
.cart-table .cart-product td {
  padding: 8px 0;
}
.cart-table .cart-product-title {
  display: flex;
  align-items: center;
}
.cart-table .cart-product-image {
  display: flex;
  align-items: self-start;
}
.cart-table .cart-product-image {
  width: 120px;
  height: 95.98px;
  border-radius: 8px;
}
.cart-table .product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid #050b2b;
  text-align: center;
  background-color: #eee;
}
.cart-table .remove-product-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.cart-table .remove-product-button:hover {
  filter: brightness(0.8);
}
.cart-table .cart-total-container {
  border-top: 1px solid;
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}
.cart-table .cart-total-container strong {
  margin-right: 12px;
}

.product-identification {
  display: flex;
  flex-direction: row;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.purchase-button {
  margin: 24px auto 2rem;
  display: flex;
  background-color: #0084ff;
  color: white;
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);
}

@media (max-width: 800px) {
  .product-identification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-product-title {
    font-weight: 700;
    margin-top: 6px;
    font-size: 15px;
  }
  .product-qtd-input {
    display: block;
    margin: 0 auto;
  }
  .remove-product-button {
    display: block;
    margin: 8px auto 0;
  }
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8f8f8f;
  padding: 4rem 1rem;
  gap: 2rem;
}

.gray-background {
  background-color: #2c2c2c;
}

.donwload-options > * {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.donwload-options > p:first-child {
  display: flex;
  font-weight: bold;
  color: #fff;
  justify-content: center;
}

.donwload-options > div {
  display: flex;
}

.donwload-options > div img {
  width: 180px;
}

.logo-footer {
  text-align: center;
}

.links-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.links-footer h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.links-footer ul {
  list-style: none;
}

.links-footer ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.copyright {
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

/*Media queries*/
@media (max-width: 800px) {
  .footer-content {
    display: inline;
    font-size: 0.8rem;
  }
  .footer-content > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .donwload-options > * {
    margin: 4px;
  }
  .donwload-options > div {
    display: inline;
  }
  .donwload-options > div img {
    width: 120px;
  }
  .copyright {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=carrinho.css.map */